In [ ]:
import pandas as pd
pd.options.display.max_columns = None
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/pok/Pokemon.csv')

   #                   Name Type 1  Type 2  Total  HP  Attack  Defense  \
0  1              Bulbasaur  Grass  Poison    318  45      49       49
1  2                Ivysaur  Grass  Poison    405  60      62       63
2  3               Venusaur  Grass  Poison    525  80      82       83
3  3  VenusaurMega Venusaur  Grass  Poison    625  80     100      123
4  4             Charmander   Fire     NaN    309  39      52       43

   Sp. Atk  Sp. Def  Speed  Generation  Legendary
0       65       65     45           1      False
1       80       80     60           1      False
2      100      100     80           1      False
3      122      120     80           1      False
4       60       50     65           1      False

#### ?
- ‘HP’, ‘Attack’, ‘Defense’, ‘Sp. Atk’, ‘Sp. Def’, ‘Speed’ 간의 상관 계수중 가장 절댓값이 큰 두 변수와 그 값을 구하여라

In [ ]:
stack = df[["HP","Attack","Defense","Sp. Atk","Sp. Def","Speed"]]
stack.corr().abs()
#
target = df[[ 'HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed']].corr().unstack().reset_index().rename(columns={0: "corr"})
result = target[target['corr']!=1].sort_values('corr',ascending=False).iloc[0]

print(result)

               HP    Attack   Defense   Sp. Atk   Sp. Def     Speed
HP       1.000000  0.422386  0.239622  0.362380  0.378718  0.175952
Attack   0.422386  1.000000  0.438687  0.396362  0.263990  0.381240
Defense  0.239622  0.438687  1.000000  0.223549  0.510747  0.015227
Sp. Atk  0.362380  0.396362  0.223549  1.000000  0.506121  0.473018
Sp. Def  0.378718  0.263990  0.510747  0.506121  1.000000  0.259133
Speed    0.175952  0.381240  0.015227  0.473018  0.259133  1.000000

#### 아이디어 생각해내기
- 각 Generation의 Attack으로 오름차순 정렬시 상위 3개 데이터들(18개)의 Attack의 전체 평균을 구하여라

In [30]:
stack = df.sort_values(by = ["Generation","Attack"], ascending = True)
stack = stack.groupby(["Generation"]).head(3)
result = stack["Attack"].mean()
print(result)

19.5

#### ?
- 한번씩만 존재하는 (Type1 , Type2)의 쌍을 각 세대(Generation)은 각각 몇개씩 가지고 있는가?

In [ ]:
target = df[['Type 1','Type 2']].value_counts()
target2 =target[target==1]

lst = []
for value in target2.reset_index().values:
    t1 = value[0]
    t2 = value[1]
    
    sp = df[(df['Type 1']==t1) & (df['Type 2']==t2)]
    lst.append(sp)

result = pd.concat(lst).reset_index(drop=True).Generation.value_counts().sort_index()
print(result)

       Type 1    Type 2  count
4         Bug     Ghost      1
10        Bug     Water      1
19     Dragon  Electric      1
20     Dragon     Fairy      1
21     Dragon      Fire      1
26   Electric    Dragon      1
27   Electric     Fairy      1
28   Electric      Fire      1
30   Electric     Ghost      1
31   Electric     Grass      1
32   Electric       Ice      1
35   Electric     Water      1
37   Fighting      Dark      1
38   Fighting    Flying      1
41       Fire    Dragon      1
47       Fire      Rock      1
48       Fire     Steel      1
49       Fire     Water      1
51      Ghost      Dark      1
58      Grass    Dragon      1
62      Grass    Ground      1
69     Ground  Electric      1
70     Ground      Fire      1
75     Ground     Steel      1
77        Ice     Ghost      1
85     Normal    Ground      1
87     Normal     Water      1
88     Poison       Bug      1
90     Poison    Dragon      1
94     Poison     Water      1
95    Psychic      Dark      1
98    Psychic      Fire      1
100   Psychic     Ghost      1
101   Psychic     Grass      1
106      Rock  Fighting      1
114     Steel    Dragon      1
116     Steel  Fighting      1
117     Steel    Flying      1
135     Water     Steel      1