In [2]:
import pandas as pd
pd.options.display.max_columns = None
df =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/happy2/happiness.csv',encoding='utf-8')
df.head(3)

   행복랭킹      나라명     점수  상대GDP  사회적지원  행복기대치  선택의 자유도    관대함  부패에 대한인식    년도
0     1  Finland  7.769  1.340  1.587  0.986    0.596  0.153     0.393  2019
1     2  Denmark  7.600  1.383  1.573  0.996    0.592  0.252     0.410  2019
2     3   Norway  7.554  1.488  1.582  1.028    0.603  0.271     0.341  2019

2018년도와 2019년도의 행복랭킹이 변화하지 않은 나라명의 수를 구하여라

In [ ]:
import pandas as pd
df =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/happy2/happiness.csv',encoding='utf-8')
stack1 = df.loc[df["년도"] == 2018].sort_values(by = "나라명").reset_index(drop = True)
stack2 = df.loc[df["년도"] == 2019].sort_values(by = "나라명").reset_index(drop = True)

# merge 메서드는 두 df를 키를 기준으로 join
# concat 메서드는 pandas.concat(obj) << 리스트로 데이터프레임 전달 단순히 이어붙히는것
result = pd.merge(stack1,stack2, on = "나라명")
result["등락"] = result["행복랭킹_x"] - result["행복랭킹_y"]
result = result.loc[result["등락"] == 0]
print(result.shape[0])

# 전체 데이터의 갯수 - 행복랭킹과 나라명이 같은 row를 삭제
count = len(df[['행복랭킹','나라명']]) - len(df[['행복랭킹','나라명']].drop_duplicates())
print(count)

15
15

각 년도별 하위 행복점수의 하위 5개 국가의 평균 행복점수를 구하여라

In [23]:
#print(df.head())
stack1 = df.loc[df["년도"] == 2018]
stack1 = stack1.sort_values(by = "점수",ascending = True).iloc[0:5]
result1 = stack1["점수"].mean()

stack2 = df.loc[df["년도"] == 2019]
stack2 = stack2.sort_values(by = "점수", ascending = True).iloc[0:5]
result2 = stack2["점수"].mean()
print(result1, result2)

# 2) groupby 집계없이 ..  tail()이게되네? **
result = df.groupby("년도").tail(5).groupby("년도")["점수"].mean()
print(result)

3.1799999999999997 3.1407999999999996
년도
2018    3.1800
2019    3.1408
Name: 점수, dtype: float64

각년도의 부패에 대한인식을 내림차순 정렬했을때 상위 20개 국가의 부패에 대한인식의 평균을 구하여라

In [50]:
# 위에 문제 응용!
stack = df.sort_values(by = ["년도","부패에 대한인식"], ascending=False).reset_index(drop=True)
stack = stack.groupby("년도").head(20).groupby("년도")["부패에 대한인식"].mean()
print(stack)

년도
2018    0.3267
2019    0.3201
Name: 부패에 대한인식, dtype: float64

2018년도 행복랭킹 50위 이내에 포함됐다가 2019년 50위 밖으로 밀려난 국가의 숫자를 구하여라

In [73]:
# value_Count 사용해보기 + isin() **
stack = df.loc[(df["행복랭킹"]<= 50)&(df["년도"] == 2018)]
print(stack.index)
arr_ = list(stack["나라명"])

stack = df.loc[(df["행복랭킹"]<=50)&(df["년도"] == 2019)]
count = 0

for i in arr_:
    if i not in list(stack["나라명"]):
        count +=1
print(count)

#2
result = set(df[(df.년도==2018) & (df.행복랭킹 <=50)].나라명)  -set(df[(df.년도==2019) & (df.행복랭킹 <=50)].나라명)
answer = len(result)
print(answer)

Index([156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169,
       170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183,
       184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197,
       198, 199, 200, 201, 202, 203, 204, 205],
      dtype='int64')
4
4

2018년,2019년 모두 기록이 있는 나라들 중 년도별 행복점수가 가장 증가한 나라와 그 증가 수치는?

In [78]:
stack1 = df.loc[df["년도"] == 2018]
stack2 = df.loc[df["년도"] == 2019]

stack = pd.merge(stack1, stack2, on = "나라명")
stack["증가율"] = stack["점수_y"] - stack["점수_x"]
result = stack[["나라명","증가율"]]
result = result.sort_values(by= "증가율", ascending=False)
print(result.iloc[0])

# 2) value_count 메서드 활용하기
count = df.나라명.value_counts()
target = count[count>=2].index
print(target)

df2 =df.copy()
multiple = df2[df2.나라명.isin(target)].reset_index(drop=True)
multiple.loc[multiple['년도']==2018,'점수'] = multiple[multiple.년도 ==2018]['점수'].values * (-1)
result = multiple.groupby('나라명').sum()['점수'].sort_values().to_frame().iloc[-1]
result

나라명    Burundi
증가율       0.87
Name: 151, dtype: object
Index(['Finland', 'Albania', 'Nepal', 'Jordan', 'Benin', 'Congo (Brazzaville)',
       'Gabon', 'Laos', 'South Africa', 'Venezuela',
       ...
       'Kosovo', 'Romania', 'Cyprus', 'Argentina', 'Kuwait', 'Thailand',
       'Latvia', 'South Korea', 'Estonia', 'Jamaica'],
      dtype='object', name='나라명', length=152)

점수    0.87
Name: Burundi, dtype: float64

In [74]:
count

4