# Spark api with pyspark.sql SparkSession
- 1) .filter() = .where()\
https://spark.apache.org/docs/latest/api/python/reference/pyspark.sql/api/pyspark.sql.DataFrame.filter.html
- 2) .select()\
https://sparkbyexamples.com/pyspark/select-columns-from-pyspark-dataframe/
- 3) .isNotNull()
- 4) .pivot()\
https://spark.apache.org/docs/latest/api/python/reference/pyspark.sql/api/pyspark.sql.GroupedData.pivot.html
- 5) .collect()\
https://sparkbyexamples.com/pyspark/pyspark-collect/
- 6) .sort()
- 7) .orderBy()\
https://sparkbyexamples.com/pyspark/pyspark-orderby-and-sort-explained/
- 8) .groupBy()
- 9) .crossJoin()   ..?
- 10) .agg()\
https://sparkbyexamples.com/pyspark/pyspark-groupby-agg-aggregate-explained/
- 11) .alias()
- 12) .toDF()\
https://sparkbyexamples.com/pyspark/pyspark-todf-with-examples/

# 1) DataFrame.filter()
https://spark.apache.org/docs/latest/api/python/reference/pyspark.sql/api/pyspark.sql.DataFrame.filter.html

- parameter = condition(BooleanType)

    condition 형태는 df.col == something or "col1 == something"
- return = DataFrame

- 컨디션을 만족하는 Row의 데이터들로 dataframe을 만든다.

In [ ]:
df = spark.createDataFrame([
    (2, "Alice"), (5, "Bob")], schema=["age", "name"])

df.filter(df.age > 3).show()
#+---+----+
#|age|name|
#+---+----+
#|  5| Bob|
#+---+----+
df.where(df.age == 2).show()
#+---+-----+
#|age| name|
#+---+-----+
#|  2|Alice|
#+---+-----+

df.filter("age > 3").show()
#+---+----+
#|age|name|
#+---+----+
#|  5| Bob|
#+---+----+
df.where("age = 2").show()
#+---+-----+
#|age| name|
#+---+-----+
#|  2|Alice|
#+---+-----+

# 2) DataFrame.select()
https://spark.apache.org/docs/latest/api/python/reference/pyspark.sql/api/pyspark.sql.DataFrame.filter.html

- parameter = cols(str,column or list)

NOTE) 컬럼선택

df.col1 , "col1" , F.col(col1)

- return = DataFrame

- select의 파라미터로 들어간 컬럼으로 데이터프레임을 구성한다.
- nested한 컬럼내의 데이터도 뽑아낼 수 있다..!

In [ ]:
#+----------------------+-----+------+
#|name                  |state|gender|
#+----------------------+-----+------+
#|[James,, Smith]       |OH   |M     |
#|[Anna, Rose, ]        |NY   |F     |
#|[Julia, , Williams]   |OH   |F     |
#|[Maria, Anne, Jones]  |NY   |M     |
#|[Jen, Mary, Brown]    |NY   |M     |
#|[Mike, Mary, Williams]|OH   |M     |
#+----------------------+-----+------+

df2.select("name").show(truncate=False)
"""
+----------------------+
|name                  |
+----------------------+
|[James,, Smith]       |
|[Anna, Rose, ]        |
|[Julia, , Williams]   |
|[Maria, Anne, Jones]  |
|[Jen, Mary, Brown]    |
|[Mike, Mary, Williams]|
+----------------------+
"""
df2.select("name.*").show(truncate=False)
'''
+---------+----------+--------+
|firstname|middlename|lastname|
+---------+----------+--------+
|James    |null      |Smith   |
|Anna     |Rose      |        |
|Julia    |          |Williams|
|Maria    |Anne      |Jones   |
|Jen      |Mary      |Brown   |
|Mike     |Mary      |Williams|
'''

# 3) column.isNotNull()

- return = condition
- filter 의 parameter인 condition 으로 사용가능

# 4) GroupedData.pivot()
https://spark.apache.org/docs/latest/api/python/reference/pyspark.sql/api/pyspark.sql.GroupedData.pivot.html

- parameter \
 => pivot_col : str or values : optional['list']

- return = GroupedData

- Grouping된 데이터에서 pivot이 되는 컬럼내의 데이터가 새로운 컬럼으로 데이터 프레임이 리턴된다.

In [ ]:
# 다음과 같은 데이터프레임에서 product별 contry의 생산량을 보는 니즈가 있다해보자.
df
'''
+-------+------+-------+
|Product|Amount|Country|
+-------+------+-------+
|Banana |1000  |USA    |
|Carrots|1500  |USA    |
|Beans  |1600  |USA    |
|Orange |2000  |USA    |
|Orange |2000  |USA    |
|Banana |400   |China  |
|Carrots|1200  |China  |
|Beans  |1500  |China  |
|Orange |4000  |China  |
|Banana |2000  |Canada |
|Carrots|2000  |Canada |
|Beans  |2000  |Mexico |
+-------+------+-------+
'''

#pivot의 value parameter은 피벗컬럼내의 특정값만 조사할 수 있다(list 형태로)
df = df.groupBy('Country').pivot('Product').sum('Amount') 
df.printSchema()
df.show(truncate = False)

'''
root
 |-- Product: string (nullable = true)
 |-- Canada: long (nullable = true)
 |-- China: long (nullable = true)
 |-- Mexico: long (nullable = true)
 |-- USA: long (nullable = true)
'''

#grouping 하는 기준컬럼이 어디오고, pivot 컬럼내의 값이 어디에 위치하는지 확인하자
'''
+-------+------+-----+------+----+
|Product|Canada|China|Mexico|USA |  
+-------+------+-----+------+----+
|Orange |null  |4000 |null  |4000|
|Beans  |null  |1500 |2000  |1600|
|Banana |2000  |400  |null  |1000|
|Carrots|2000  |1200 |null  |1500|
+-------+------+-----+------+----+ 
'''

# 5) df.collet()
- return : row list data
- dataframe 의 인스턴스를 뽑아낼 수 있다.
- df.select(df.col1).collet() select와 함께 사용하면 특정 컬럼의 값을 뽑아볼 수 있다.

In [ ]:
# advance?

[Row(dept_name='Finance', dept_id=10), 
Row(dept_name='Marketing', dept_id=20), 
Row(dept_name='Sales', dept_id=30), 
Row(dept_name='IT', dept_id=40)]

for row in dataCollect:
    print(row['dept_name'] + "," +str(row['dept_id']))

# 6,7) DataFrame.sort() and orderBy

- parameter = cols option!
- other parameter = ascending 
- return = dataframe
- col에 특정 condition에 의해 분류된 새로운 데이터프레임을 리턴한다.
- F.asc() , F.desc() 
- 내림차순, 오름차순을 위해 이용하자!**

In [ ]:
# 서로다른 컬럼에 서로다른 condition 주기
df.sort("column1", "column2", ascending=[True, False])

# 8) DataFrame.groupBy()

- parameter = col
- pandas의 groupby와 동일!
- sum() or count() 변수에 따라 어떤것을 같이 쓸지 생각하기
- ex) 사용된 프로그래밍 언어의 빈도수 (빈도가 중요하므로 count())
- ex2) pushevent를 진행한 횟수 (총 진행한 합이 중요하므로 sum())

In [ ]:
df.groupBy('col1').sum('sumation_col').show(10 , False)
# or count()

# 9) DataFrame.crossJoin()
- parameter : dataframe (agg한 dataframe?)
- return : cartesian(직교의?) product with other DataFrame
- 기존 데이터프레임 오른쪽에 붙힌다

# 10) DataFrame.agg(*exprs)
 - aggregate : 총계 (어떤 합이아니고 컬럼별 연산후 총계된 데이터를 뽑아낸다로 이해할것)
 - groupby된 dataframe의 key(grouping된 데이터)를 기준으로 sum, count, avg한 것들을 한번에 표현하기 위해 사용됨.( 여기서 sum, count, avg 는 sql.function)

In [ ]:

from pyspark.sql.functions import count

# groupby multiple columns & agg
df.groupBy("department","state") \
    .agg(count("*").alias("count")) \
    .show(truncate=False)

from pyspark.sql.functions import sum,avg,max

df.groupBy("department") \
    .agg(sum("salary").alias("sum_salary"), \
         avg("salary").alias("avg_salary"), \
         sum("bonus").alias("sum_bonus"), \
         max("bonus").alias("max_bonus") \
     ) \
    .show(truncate=False)

import pyspark.sql.fuctions as F

stat_df = df.agg(F.countDistinct('user_name').alias('d_user_count'))
stat_df = stat_df.crossJoin(df.agg(F.countDistinct('repository_id').alias('d_repo_count')))

# 11) column.alias()
- parameter = alias : str 
- alias('일명') 
- 컬럼이름 변경하기!

# 12) DataFrame.toDF()
- parameter = *cols : tuple
- Returns = DataFrame
- 전체 데이터프레임의 컬럼내임을 바꾸고 싶을때!

In [ ]:
# Syntax
toDF()
toDF(cols)
toDF(schema)
toDF(schema, sampleRatio)


# Imports
from pyspark.sql import SparkSession

# Create SparkSession
spark = SparkSession.builder \
            .appName('SparkByExamples.com') \
            .getOrCreate()
            
# Create RDD           
dept = [("Finance",10),("Marketing",20),("Sales",30),("IT",40)]
rdd = spark.sparkContext.parallelize(dept)

# Create DataFrame from RDD
df = rdd.toDF()
df.printSchema()
df.show(truncate=False)     #defalut로 _1 , _2 컬럼을 생성한다


cols = ["dept_name","dep_id"]
dfFromRDD1 = rdd.toDF(cols)     # column의 name 설정 가능!